@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
body  {
  background-color: #f6f6f6;
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
}

footer {
  /* left: 0;
  bottom: 0; */
  width: 100%;
  text-align: center;
}
.container{
  max-width: 1000px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-gap: 1rem; */
}
.img-circle {
  width: 130px;
  margin-top: 40px;
  border-radius: 50%;
}

.secondary-text{
  color: #989C9F;
}

.card {
  width: 75%;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color:#FFFFFF;
}
.social {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.social i{
  font-size: 2.5rem;
}

.fas, .fab {
  color: #BCC3C9;
}

.fa-map-marker-alt{
  color: #989C9F;
  border: none;  
}

.fa-heart{
  color: #cf2929;
}

.fa-linkedin:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #07689f;
}

.fa-github-square:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: black;
}
.fa-facebook-square:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #0f4c75;
}

.fa-instagram:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-gem:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #810000;
}

.fa-road:hover{
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #810000;
}
.fa-redhat:hover{
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #c7b198;
  border-radius: 2px;
}

.fa-database:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #0f4c75;
}

.fa-js-square:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #ffa931;
}

.fa-html5:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #ff5722;
}

.fa-css3-alt:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #00bcd4;
}
.fa-bootstrap:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
  color: #6f4a8e;
}

.backend-icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.backend-icons > div {
  /* text-align: center; */
  width: 80px;
  height: 70px;
  text-align: center;
  
}

.backend-icons i {
  font-size: 2.5rem;
}
.backend-icons p {
  visibility: hidden;
  font-size: 0.1rem;
}

.backend-icons div:hover p {
  font-size: 1rem;
  visibility: visible;
  opacity: 1;
}

.backend-icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.backend-icons > div {
  /* text-align: center; */
  width: 80px;
  height: 70px;
  text-align: center;
  
}

.backend-icons i {
  font-size: 2.5rem;
}

.backend-icons p {
  visibility: hidden;
  font-size: 0.1rem;
}

.backend-icons div:hover p {
  font-size: 1rem;
  visibility: visible;
  opacity: 1;
}


/* --- ------------------------*/

.frontend-icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.frontend-icons > div {
  /* text-align: center; */
  width: 80px;
  height: 70px;
  text-align: center;
  
}

.frontend-icons i {
  font-size: 2.5rem;
}
.frontend-icons p {
  visibility: hidden;
  font-size: 0.1rem;
}

.frontend-icons div:hover p {
  font-size: 1rem;
  visibility: visible;
  opacity: 1;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-profile{
  width: 75%;
  height: 600px;
}

#skills{
  color: #BCC3C9;
}

#skills h2{
  margin-top: 0px;
}

#skills .card {
  position: relative;
  height: 270px;
}

@media (max-width: 1000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 100%;
  }
}